
header {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
	padding: 15px;
	font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
}

