  <header>
    <nav class="navbar navbar-expand-md navbar-light navbar-transparente">
      <!--Início Navegação -->
      <div class="container"><!--Container -->
        <a [routerLink]="['']" class="navbar-brand"><!--Início logo -->
          <img src="assets/img/logo.svg" width="142">
        </a><!--Fim logo -->

        <div><!--Menu de navegação -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" class="menu">
              <a [routerLink]="['sobre']" class="nav-link">Quem Somos</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['obras']" class="nav-link">Nosso projetos</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['servicos']" class="nav-link">O que fazemos</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['obra-interna']" class="nav-link">Contato</a>
            </li>
          </ul>       
        </div><!--Fim Menu de navegação-->
      </div><!--Fim container -->
    </nav><!--Fim navegação -->
  </header><!--Fim cabeçalho -->
