
  <footer id="rodape">
    <div class="container">
      <div class="row">
        <div class="col-3">
            <img src="../assets/img/logo.svg">
        </div>

        <div class="col-3 text-light">
          <h2>  
          A fold 
          </h2>
            <ul>
              <li><a href="">Quem somos</a></li>
              <li><a href="">O que fazemos</a></li>
              <li><a href="">Contato</a></li>
            </ul>
        </div>

        <div class="col-3 text-light">
          <h2>Nossos Projetos</h2>
          <ul>
            <li><a href="">Obras concretizadas</a></li>
            <li><a href="">Obras em andamento</a></li>
          </ul>
        </div>


        <div class="col-3 text-light col-social" >
          <h2>Social</h2>
          <ul>
            <li>
              <i class="fab fa-facebook-f text-secondary"></i>
              <a class="social" href="">Facebook</a>
            </li>
            <li>
              <i class="fab fa-instagram text-secondary"></i>
               <a class="social" href="">Instagram</a>
            </li>
          </ul>
        </div>

        <div class="12">
          <div class="end">
          <h5>&copy; Fold Engenharia. Todos os direitos reservados.</h5>
        </div>
        </div>
        
      </div>
      
    </div>
    
  </footer>