
<header>	
</header>



<div id="sobre">
	<div class="container">
		<img class="img-sobre" src="https://via.placeholder.com/940x529/gbgbg/808080?text=video">
	<div class="texto">
		<h2>Sobre a Angular</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tincidunt nunc, nec laoreet neque. Aenean sagittis aliquam orci. Nam faucibus magna vel turpis pulvinar, non lobortis mauris ultricies. Nam in ipsum urna. Morbi auctor ornare dolor quis commodo. Donec facilisis molestie nibh, a rutrum tortor faucibus id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur iaculis magna eget lorem ultricies, vitae posuere turpis mollis. Aenean blandit vitae sem ac ultricies. Cras quis viverra elit. Suspendisse consequat lorem at urna ultricies, vitae dapibus risus euismod. Ut et diam ac justo maximus blandit. Nulla in risus id mauris semper iaculis ut sit amet urna. Phasellus malesuada convallis ipsum, ac scelerisque magna pellentesque malesuada. Morbi rhoncus id orci ac lobortis. Fusce porttitor purus blandit arcu lacinia mollis.</p>

		<p>Suspendisse consequat lorem at urna ultricies, vitae dapibus risus euismod. Ut et diam ac justo maximus blandit. Nulla in risus id mauris semper iaculis ut sit amet urna. Phasellus malesuada convallis ipsum, ac scelerisque magna pellentesque malesuada. Morbi rhoncus id orci ac lobortis. Fusce porttitor purus blandit arcu lacinia mollis.
		</p>
		<h2>O que fizemos</h2>
		<hr>



		<div id="img-grid">
		<div class="row">
			<div class="col-3">
				<img class="img-grid" src="https://via.placeholder.com/200x200/165156/808080?text=video">
			</div>
			<div class="col-3">	
				<h3>Yuna Valesca</h3>
				<p>smile smile smile smile smile smile smile</p>
			</div>
			<div class="col-3">
				<img class="img-grid" src="https://via.placeholder.com/200x200/165156/808080?text=video">
			</div>
			<div class="col-3">	
				<h3>Cloud Strift</h3>
				<p>love love love love love love love love love love</p>
			</div>

			

		</div>
		</div>
	</div>
	</div>
</div>



