  
  <section class="home-digital">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <iframe width="461" height="313" src="https://www.youtube.com/embed/vHWfVny2qYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
        </div>
        <div class="col-7">
          <div class="sobre-card">
          <h2>Digitalizando a Engenharia</h2>
          <div class="sobre-row">
            <hr>
              <div class="listas-card">
                <ul>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                </ul>
              </div>           
           </div>
          </div>      
        </div> 
      </div>  
    </div> 
  </section>