
	<div id="cabecalho-servicos">
		<nav class="navbar navbar-expand-md navbar-light navbar-transparent">
			<div class="container">
				<a class="navbar-brand" href="">
				</a>
			</div>
		</nav>
	</div>

	<div class="tela-escura">
		<div class="container">
			<h2>Nossos serviços</h2>
			<hr>
			<p>Pellentesque eu quam volutpat, viverra augue et, tempor urna. Vivamus sed tellus sit amet nulla finibus feugiat eu vitae lorem. Nunc porta dictum tincidunt. Nulla facilisi. Maecenas accumsan neque quis tellus elementum, sed dictum odio efficitur. Vestibulum commodo turpis velit, id lacinia tellus vulputate ut. In ullamcorper venenatis massa et tristique. Vestibulum placerat sem purus, et pulvinar sapien vulputate sed.</p>
		</div>
	</div>


	<div class="tela-clara">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<img src="assets/img/construcao.png"><!--Colocar a imagem -->
				</div>
				<div id=area-dois class="col-6">
					<h2>Contrução</h2>
					<hr>
					<p>Quisque at ligula mauris. Pellentesque dolor turpis, finibus quis tristique nec, blandit id libero. In et turpis nec nulla pellentesque consectetur eu vel justo. Integer velit ipsum, tempor at mattis ut, vestibulum sit amet nisi. </p>
				</div>
			</div>
		</div>
	</div>


	<div class="tela-escura">
		<div class="container">
			<div class="row">
				<div id="area-tres" class="col-6">
					<h2>Manutenção Predial</h2>
					<hr>
					<p>Vestibulum imperdiet ante at nulla volutpat, non rutrum ligula rhoncus. Donec vel rutrum ligula, mollis condimentum erat. Nunc luctus mi risus, vitae accumsan libero elementum at. Aenean sagittis venenatis est, ut fringilla orci cursus blandit.  </p>
				</div>
				<div id="video-area-tres" class="col-6">
					<iframe width="364" height="313" src="https://www.youtube.com/embed/YtpvT8KN5xA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>		
		</div>
	</div>


	<div class="tela-clara">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<img src="assets/img/reformas.png"> <!--Colocar imagem-->
				</div>
				<div class="col-6">
					<h2>Reformas</h2>
					<hr>
					<p>Quisque at ligula mauris. Pellentesque dolor turpis, finibus quis tristique nec, blandit id libero. In et turpis nec nulla pellentesque consectetur eu vel justo. Integer velit ipsum, tempor at mattis ut, vestibulum sit amet nisi. Sed cursus erat vitae quam auctor, at interdum purus rutrum. </p>
				</div>
			</div>
		</div>
	</div>


	<div id="area-cinco" class="tela-escura">
		<div class="container">
			<div class="d-flex justify-content-around">
				<div>
					<h2>Ficou com alguma dúvida?</h2>			
				</div>
				<div>
					<a href="">Vamos Conversar <i class="fas fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
		





