
  <section class="home-servicos">
    <div class="container">
          
      <h1>Nossos Serviços</h1>
   
      <hr>
  

            
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
      </p>   


      <div class="row">

        <div class="col-4">
            <img src="https://via.placeholder.com/364x313/ea9c16/808080?text=projetos">
           <h4> Contrução</h4>
        </div>
        <div class="col-4">
            <img src="https://via.placeholder.com/364x313/ea9c16/808080?text=projetos">
            <h4>Manutenção Predial</h4>
        </div>
        <div class="col-4">
            <img src="https://via.placeholder.com/364x313/ea9c16/808080?text=projetos">
            <h4>Reformas</h4>
       </div>
    </div>
    </div>
  </section>
  