<div id="obras">
	<nav class="navbar navbar-expand-md navbar-light navbar-transparent">
		<div class="container">
			<a class="navbar-brand" href="">
			</a>
		</div>
	</nav>
</div>

<div id="obras-1">
	<div class="container">
		<h2> Obras Concluídas </h2>
		<hr>
		<div class="row">
			<div class="col-4">
				<img src="/assets/img/obras.png">
				<p>quisquam est qui</p>
			</div>
			<div class="col-4">
				<img src="/assets/img/obras.png">
				<p>quisquam est qui</p>
			</div>
			<div class="col-4">
				<img src="/assets/img/obras.png">
				<p>quisquam est qui</p>
			</div>
		</div>
		<div class="row" style="padding-top: 4em">
			<div class="col-4">
				<img src="/assets/img/obras.png">
				<p>quisquam est qui</p>
			</div>
			<div class="col-4">
				<img src="/assets/img/obras.png">
				<p>quisquam est qui</p>
				
			</div>
			
		</div>
	</div>
</div>