<div id="obras">

</div>

<div id="obras-1">
	<div class="container">
		<h2> Obras Concluídas </h2>
		<hr>
		<div class="row">
			<div class="col-4">
				
				<a href="#"> <img src="/assets/img/obras.png"> <p>quisquam est qui</p> </a>
				
			</div>
			<div class="col-4">
				<a href="#"><img src="/assets/img/obras.png"></a>
				<p>quisquam est qui</p>
			</div>
			<div class="col-4">
				<a href="#"><img src="/assets/img/obras.png"></a>
				<p>quisquam est qui</p>
			</div>
		</div>
		<div class="row" style="padding-top: 4em">
			<div class="col-4">
				<a href="#"><img src="/assets/img/obras.png"></a>
				<p>quisquam est qui</p>
			</div>
			<div class="col-4">
				<a href=""><img src="/assets/img/obras.png"></a>
				<p>quisquam est qui</p>	
			</div>
		</div>
		<h2>Obras em andamento</h2>
		<hr>
		<div class="row">
			<div class="col-4">
				<a href="#"><img src="/assets/img/obras.png"></a>
				<p>quisquam est qui</p>
			</div>
			<div class="col-4">
				<a href="#"><img src="/assets/img/obras.png"></a>
				<p>quisquam est qui</p>
			</div>
			<div class="col-4">
				<a href="#"><img src="/assets/img/obras.png"></a>
				<p>quisquam est qui</p>
			</div>
		</div>
	</div>
</div>