#obras {
	height: 400px;
	background: url(/assets/img/services.png);
}

#obras-1{
	background-color: #181818;
	color: #c8c8c8;
	padding-bottom: 5em;
}

#obras-1 h2 {
	font-size: 36px;
	padding-top: 2em;

}

#obras-1 hr {
	width: 10%;
	padding-bottom: 2em;
}

#obras-1 p {
	padding-top: 1.5em;
	font-size: 18px;
}

#obras-1 img {
	filter: grayscale(80%);
}


a {
	text-decoration: none;
	color: #c8c8c8;
}


#obras-1 a:hover img,
#obras-1 a:focus img {
	filter: none;
}


