
  <section class="home-projetos">
    <div class="container">
      <div class="row">
        <div class="col-7">
          <div class="sobre-projeto">
            <h1>Nossos Projetos</h1>
            <div class="sobre-row">
              <hr>
            </div>
              <h1>Beach Class</h1>
              <span class="badge badge-secondary">Condomínio</span>
              
              
              <p>
                consectetur adipiscing elit. Maecenas at lectus ac ex consequat suscipit molestie et metus. Nullam porta dolor eu nisi ullamcorper sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis erat metus. Mauris ac efficitur lorem, quis fermentum lorem. Donec varius feugiat nisl, non varius elit. Cras id ex placerat, sagittis mi vitae, auctor orci. Praesent commodo lacinia arcu.Donec varius feugiat nisl, non varius elit. Cras id ex placerat, sagittis mi vitae, auctor orci. Praesent commodo lacinia arcu. Donec varius feugiat nisl, non varius elit. Cras id ex placerat, sagittis mi vitae, auctor orci. Praesent commodo lacinia arcu               
              </p>
            
           
            <div class="conhecer">
               <a href="">Conhecer mais <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="pontos d-flex flex-row justify-content">
              <a href="#" class="pontos2 active">
                <i class=" fas fa-circle"></i>
              </a>
              <a href="#" class="pontos2">
                <i class="fas fa-circle"></i>
              </a>
              <a href="#" class="pontos2">
                <i class="fas fa-circle"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="5">
          <div class="projeto-imagem">
            <img src="https://via.placeholder.com/447x610/ea9c16/808080?text=projetos">
          </div>         
        </div>
      </div>
    </div>
  </section>