<section class="home-banner">
    <div style="position: relative;">
      <div id="home-title" class="text-center">
        <h1>BEACH CLASS</h1>
        <h2>CONDOMÍNIO</h2>
      </div>

      <div class="setaprabaixo">
       <i class="fas fa-arrow-down"></i>
      </div>

      <div class="pontos d-flex flex-column justify-content-center">
        <a href="#" class="ponto active">
          <i class="fas fa-circle"></i>
        </a>
        <a href="#" class="ponto">
          <i class="fas fa-circle"></i>
        </a>
        <a href="#" class="ponto">
          <i class="fas fa-circle"></i>
        </a>
      </div>
    </div>

    
  </section>
