/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: metropolis;
  src: url(assets/fonts/Metropolis-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: metropolis;
  src: url(assets/fonts/Metropolis-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: metropolis;
  src: url(assets/fonts/Metropolis-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: metropolis;
  src: url(assets/fonts/Metropolis-SemiBold.otf);
  font-weight: 600;
}

body {
	font-family: metropolis;
}

footer {
	font-family: metropolis;
}


/* Sobre */

.sobre-card a:hover {
	text-decoration: none;
	opacity: 0.8;

}

.sobre-card a i {
	font-size: 20px;

}

.sobre-row {
	text-align: left;
}

.sobre-card a {
	color: #ea9c16;
	font-weight: 600;
	font-size: 27px;
	margin-top: 20px;
	display: inline-block;
}











.sobre-projeto {
	color: #c8c8c8;
	font-size: 36px;

}


hr {
	border-top: 5px solid #ea9c16;
	width: 20%;
	display: inline-block;

}


.sobre-projeto hr {
	border-top: 5px solid #ea9c16;
	width: 20%;
	display: inline-block;
}

.sobre-row hr {
	border-top: 5px solid #ea9c16;
	width: 20%;
	display: inline-block;
}

#borda {
	border-bottom:  2px solid #ea9c16;
	width: 25%;	
}



h4 {
	font-size: 23px;
	color: #8c8c8c;
	margin-top: 20px;
	margin-bottom: 8em;
	display: inline-block;
}

h5 {
	color: #8c8c8c;
	background-color: #202020;
	width: 130px;
	height: 30px;
	text-align: justify;


}



.sobre-projeto h1 {

}

.home-digital {
	background-color: #202020;
	

}

.sobre-projeto p {
	display: block;
}

.home-projetos {
	background-color: #181818;
	padding-top: 80px;
	padding-bottom: 100px;
}




.sobre-row h1 {
	font-size: 43px;
	color: #8c8c8c;
}

.sobre-row p {
	font-size: 22px;
	color: #8c8c8c;
}

.btn-secondary {
    color: #8c8c8c;
    background-color: #202020;
    border-color: #202020;
    font-size: 21px;
}

