<section class="home-sobre">
   <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="sobre-card">
          <h2>Sobre a fold Engenharia</h2>
          <div class="sobre-row">
            <hr>
          </div>
          <div>
            <p>
              Donec ac erat non arcu mollis convallis. In in tortor sed lorem sagittis lacinia sed eu tellus. Maecenas mattis magna sit amet accumsan porta. Aliquam ac tellus ligula. Donec viverra ut est non interdum. Lorem ipsum dolor sit amet, consectetur elit.
            </p>
          </div>
          <a href="">Saiba mais <i class="fas fa-arrow-right"></i></a>
        </div>
        
      </div>
      <div class="col-5">
        <img class="sobre-img" src="https://via.placeholder.com/390x540/ea9c16/808080?text=sobre">
        
      </div>
      
    </div>
     
   </div>
  </section>
