<header>
	<img src="https://via.placeholder.com/1345x400/ea9c16/808080?text=">
</header>

<div class="section-0">
	<div class="container">
		<h2>Projeto</h2>
		<hr>
		<div class="d-flex justify-content-around">
			<div class="p-2 flex-fill bd-highlight justify-content-start">
				<h3>FICHA TÉCNICA</h3>
				<p>ANO: 2020</p>
				<p>CIDADE: FANTASIA</p>	
				<h3>ANDAMENTO</h3>
				<div class="progress-1">
					<p>Projeto</p>
					<progress value="100" max="100"></progress>
				</div>			
				<div class="progress-2">
					<p>Construção</p>
					<progress value="80" max="100"></progress>				
				</div>			
				<div class="progress-2">
					<p>Redes</p>
					<progress value="40" max="100"></progress>
				</div>			
				<div class="progress-2">
					<p>Rede de água</p>
					<progress value="10" max="100"></progress>
				</div>
			</div>
			<div class="p-2 flex-fill bd-highlight justify-content-around">
				<div class="image-right">
				<img src="https://via.placeholder.com/662x372/ea9c16/808080?text=">
				<p>Nam posuere ipsum in viverra fermentum. Praesent vehicula elit nisl, eget efficitur risus euismod vitae. Nullam at felis semper dolor semper malesuada at quis odio. Cras sit amet sem iaculis, fermentum mauris eu, tempor lorem. Proin nec hendrerit quam, a tincidunt arcu. Morbi consequat est non urna mollis aliquam quis eget sapien. In hac habitasse platea dictumst. 
				Donec lacinia vestibulum orci, vel accumsan tellus. Nunc accumsan, nunc ut venenatis maximus, diam dui sollicitudin tellus, elementum vestibulum urna dui sit amet velit. In eget eleifend sapien, non rutrum justo. Phasellus sit amet imperdiet libero. Ut non turpis convallis, posuere dolor et, pulvinar lacus. Fusce non ultrices nisi, et consectetur tellus.</p>
				</div>
			</div>
		</div>


		<div class="container"> 
			<div class="row pt-4">
				<div class="col-7">
					<div class="coluna-maior">
						
					</div>
				</div>
				<div class="col-5">
					<div class="coluna-menor">
						
					</div>
				</div>

			</div>
			<div class="row pt-1 pb-4">
				<div class="col-5">
					<div class="coluna-menor">						
					</div>
				</div>
				<div class="col-7">
					<div class="coluna-maior">
						
					</div>
				</div>
				
			</div>
		</div>
		

		



		
		



	</div>	
</div>
